In [3]:
import pandas as pd
import numpy as np
import Stock_Prices as sp
import datetime
from sqlalchemy import create_engine

# Define variables for sql connection.
user= 'postgres'
password = 'Alejandro123!'
ip = '34.71.5.205'

#Connect to the DB.
engine = create_engine(
    'postgresql+psycopg2://' + user + ':'+ password +'@'+ ip +'/postgres')



s = pd.read_html(r'C:\Users\AlejandroVelez\OneDrive - Accelirate, Inc\Documents\Development\Web Scraping\table.html')[0]
s['Quantity'] = np.random.random_integers(100,1000,len(s))
s

C:\Users\AlejandroVelez\AppData\Local\Temp\ipykernel_22336\3152536054.py:19: DeprecationWarning: This function is deprecated. Please call randint(100, 1000 + 1) instead
  s['Quantity'] = np.random.random_integers(100,1000,len(s))

,Symbol,Company Name,Industry,Market Cap,Quantity
0,A,Agilent Technologies,Life Sciences Tools & Services,37.89B,362
1,AA,Alcoa,Metals & Mining,8.86B,660
2,AAC,Ares Acquisition,Blank Check / SPAC,1.24B,284
3,AACG,ATA Creativity Global,Diversified Consumer Services,69.20M,701
4,AACI,Armada Acquisition I,Blank Check / SPAC,205.44M,389
...,...,...,...,...,...
495,ASND,Ascendis Pharma,Biotechnology,4.94B,779
496,ASNS,Actelis Networks,Biotechnology,20.95M,372
497,ASO,Academy Sports and Outdoors,Specialty Retail,3.64B,550
498,ASPA,Abri SPAC I,Blank Check / SPAC,74.84M,623
499,ASPN,Aspen Aerogels,Energy Equipment & Services,486.10M,788

In [4]:
s.to_sql(schema= 'public', con= engine,name='portfolio',index = False, if_exists='append')

ValueError: Table 'portfolio' already exists.